@model IEnumerable<Importames.Models.VehiculoModel>
@{
    ViewData["Title"] = "Vehículos";
}

<div class="table-header">

    <div class="table-filters">
        <input type="text" placeholder="Buscar" class="input-search" />

        <div class="filters">
            <select class="select">
                <option>Categoría</option>
            </select>

            <select class="select">
                <option>Estado</option>
            </select>
        </div>
    </div>

    <button class="btn btn-add" onclick="abrirModal()">
        <i class="bi bi-plus"></i> Registrar Vehículo
    </button>

</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>VIN / CÓDIGO</th>
                <th>VEHÍCULO</th>
                <th>CLIENTE</th>
                <th>ESTADO</th>
                <th>AÑO</th>
                <th>COSTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.vin</td>
                    <td>@v.marca @v.modelo</td>
                    <td>@v.id_cliente</td>
                    <td>@v.id_estado</td>
                    <td>@v.anio</td>
                    <td>$@v.costo</td>
                    <td>
                        <button class="btn btn-edit" onclick="abrirModalEditar(@v.IdVehiculo)">
                            Editar
                        </button>

                        <button class="btn btn-delete">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="modal" class="modal">
    <div class="modal-content" id="modal-body">
    </div>
</div>

<script>
    function abrirModal() {
        fetch('/Vehiculos/Create')
            .then(res => res.text())
            .then(html => {
                document.getElementById("modal-body").innerHTML = html;
                document.getElementById("modal").style.display = "flex";
            });
    }

    function cerrarModal() {
        document.getElementById("modal").style.display = "none";
    }

    function abrirModalEditar(id) {
        fetch('/Vehiculos/Edit/' + id)
            .then(res => res.text())
            .then(html => {
                document.getElementById("modal-body").innerHTML = html;
                document.getElementById("modal").style.display = "flex";
            });
    }


</script>